* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
  }
  
  body {
    font-family: "Helvetica Neue", sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f0f0f0;
  }
  
  .calculator {
    background: black;
    border-radius: 50px;
    color: white;
    height: 609px;
    padding: 10px;
    position: relative;
    width: 282px;
  }
  
  .top-container {
    display: flex;
    height: 125px;
    justify-content: space-between;
    padding: 0 10px;
  }
  
  .value {
    font-size: 65px;
    font-weight: 300;
    height: 79px;
    margin-bottom: 10px;
    margin-right: 10px;
    text-align: right;
  }
  
  .buttons-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
  
  .button {
    align-items: center;
    background: #333;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    font-size: 22.5px;
    height: 55px;
    justify-content: center;
    transition: filter .3s;
    width: 55px;
  }
  
  .button.function {
    color: black;
    background: #a5a5a5;
  }
  
  .button.operator {
    background: #f1a33c;
  }
  
  .button.number-0 {
    border-radius: 27.5px;
    grid-column: 1 / span 2;
    justify-content: flex-start;
    padding-left: 21.5px;
    width: 125px;
  }
  
  .button:active,
  .button:focus {
    filter: brightness(120%);
  }
  
  .bottom {
    width: 100px;
    height: 2.5px;
    background: white;
    border-radius: 2px;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
  } 