body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.game-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: rgb(1, 25, 1);
}

#rocket {
    position: absolute;
    bottom: 10px; /* Start position */
    left: 50%;
    width: 50px;
    height: 100px;
    background: rgb(110, 1, 90);
    transform: translateX(-50%); /* Center horizontally */
}

.enemy {
    position: absolute;
    background: rgb(5, 7, 160);
    width: 50px;
    height: 50px;
}
